.join-button {
  cursor: pointer;
}

.player-cards {
  display: flex;
}

.player-cards button {
  cursor: pointer;
}

.player-card,
.current-player-card {
  position: relative;
}

.current-player-card .selected {
  top: -20px;
}